*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.aut-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
}

.aut-form input{
    padding: 10px;
    margin: 5px;
    width: 90%;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.aut-form input[type="submit"]{
    background-color: #333;
    color: white;
    cursor: pointer;
}

.aut-form input[type="submit"]:hover{
    background-color: #555;
}

.aut-form p{
    margin-top: 5px;
    color: #333;
    font-size: 14px;
}

.aut-form label{
    margin-top: 5px;
    color: #333;
    font-size: 14px;
}