*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
}

img{
width: 80px;
height: 80px;
border-radius: 50%;
margin: 10px;
}

.flex{
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 10px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-top: 0;
}

.flex p{
    margin: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
}

.links a{
    display: flex;
    align-self: self-start;
    margin: 5px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #333;
    padding-left: 20px;
}

.links i{
    color: #333;
    margin-right: 10px;
}

.links{
    width: 100%;
}