*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
}

.editar-perfil{
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 100px;
}

.editar-perfil input{
    padding: 10px;
    margin: 8px;
    width: 95%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: none;
}

.editar-perfil button{
    padding: 10px;
    margin: 8px;
    width: 95%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-color: #333;
    color: #f8f8f8;
    border: none;
    cursor: pointer;
}

.editar-perfil button:hover{
    background-color: #f8f8f8;
    color: #333;
}

.editar-perfil button:active{
    background-color: #333;
    color: #f8f8f8;
}

.foto-clicavel{
    position: relative;
    cursor:pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    justify-self: center;
}

.foto-clicavel img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.foto-clicavel input{
    display: none;
}

.foto-clicavel .foto{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}

.foto-clicavel .edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: #fff;
    border-radius: 50%;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: 0.2s;
    z-index: 9999;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

