*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
}

.desc-produto{
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-bottom: 100px;
}

.desc-produto img{
    width: 100%;
}

.desc-produto p{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: #333;
}

.desc-produto .preco-produto{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: #333;
}

.desc-produto .descricao-produto{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: #333;
}

.desc-produto .submit-carrinho{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    background-color: #333;
    color: #f8f8f8;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    gap: 30px;
}

.desc-produto .submit-carrinho:hover{
    background-color: #f8f8f8;
    color: #333;
}

.desc-produto .submit-carrinho:active{
    background-color: #333;
    color: #f8f8f8;
}

.desc-produto h1{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: #333;
}