*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
}
    
.produto{
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.produto img{
    width: 100%;
    border-radius: 30px;
    height: 300px;
}

.produto :active{
    transform: scale(0.9);
}

.search-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.align{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.barra-pesquisa{
    width: 90%;
    padding: 10px;
    align-self: center;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin: 1rem;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.rodape a{
    text-decoration: none;
    color: #333;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.rodape a:hover{
    background-color: #333;
    color: #f8f8f8;
}

.rodape a:active{
    background-color: #333;
    color: #f8f8f8;
}

.rodape i{
    font-size: 1.5rem;
}

.produto a{
    text-decoration: none;
    color: #333;
}

.produto p{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: #333;
}

.produto:hover{
    color: #f8f8f8;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}


.Pesquisar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    background-color: #333;
    color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 10px;
    width: 100%;
    margin-top: 0;
}

.Pesquisar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 1024px) {
    .align{
        height: 100vh;
        overflow-y: scroll;
    }
}

.produtos-carrinho{
    display: flex;
    padding: 10px;
    width: 350px;
    text-align: center;
    gap: 10px;
    border-bottom: 1px solid #333;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.carrinho h1{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0.5rem;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
}

.carrinho{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.botao-acao{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}

.botao-acao a{
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    font-size: 0.8rem;
}

.botao-acao .vermelho{
    background-color: #f8f8f8;
    color: #333;
}

.botao-acao .vermelho:hover{
    background-color: #333;
    color: #f8f8f8;
}

.botao-acao .vermelho:active{
    background-color: #333;
    color: #f8f8f8;
}

.botao-acao .verde{
    background-color: #333;
    color: #f8f8f8;
}

.botao-acao .verde:hover{
    background-color: #f8f8f8;
    color: #333;
}

.botao-acao .verde:active{
    background-color: #f8f8f8;
    color: #333;
}

.produtos-carrinho i{
    font-size: 1.2rem;
    color: #333;
}

.produtos-carrinho:hover{
    color: #f8f8f8;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.nome-produto-carrinho{
    width: 20%;
}

.preco-produto-carrinho{
    width: 20%;
}

.quantidade-produto-carrinho{
    width: 20%;
}