*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    align-items: center;
}
    
.produto{
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.produto img{
    width: 100%;
}
.align{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.barra-pesquisa{
    width: 90%;
    padding: 10px;
    align-self: center;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin: 1rem;
}

.rodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.rodape a{
    text-decoration: none;
    color: #333;
    border-radius: 50%;
    padding: 6px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}